<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>List Boba</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h3 class="text-center">Find Available Boba Variant by Topping</h3>
                <div class="w-100 my-4">
                    <form th:action="@{/search}" method="GET">
                        <div class="row p-0">
                            <div class="col-3 offset-1 d-block">
                                <label>Boba Tea Name</label>
                                <select class="w-100" name="bobaName">
                                    <option th:each="boba : ${listBoba}"
                                            th:value="${boba.name}"
                                            th:text="${boba.name}"></option>
                                </select>
                            </div>
                            <div class="col-3 offset-1 d-block">
                                <label>Topping Name</label>
                                <select class="w-100" name="topping">
                                    <option th:each="topping : ${listTopping}"
                                            th:value="${topping.name}"
                                            th:text="${topping.name}"></option>
                                </select>
                            </div>
                            <div class="col-2 offset-1 d-flex align-items-end">
                                <button class="btn btn-primary w-100" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Ice</th>
                        <th scope="col">Sugar</th>
                        <th scope="col">Store Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boba, iterationStatus : ${listResult}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${boba.price}"></td>
                        <td th:if="${boba.size} == 0">S</td>
                        <td th:if="${boba.size} == 1">M</td>
                        <td th:if="${boba.size} == 2">L</td>
                        <td th:if="${boba.iceLevel} == 0">Small</td>
                        <td th:if="${boba.iceLevel} == 1">Normal</td>
                        <td th:if="${boba.iceLevel} == 2">Extra</td>
                        <td th:if="${boba.sugarLevel} == 0">Small</td>
                        <td th:if="${boba.sugarLevel} == 1">Normal</td>
                        <td th:if="${boba.sugarLevel} == 2">Extra</td>
                        <td><p>Store Name</p></td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
