<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>List Boba</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h3 class="text-center">Filter Manager</h3>
                <div class="w-100 my-4">
                    <form th:action="@{/filter/manager}" method="GET">
                        <div class="row p-0">
                            <div class="col-md-4 offset-2 d-block">
                                <label>Boba Tea Name</label>
                                <select class="w-100" name="nameBoba">
                                    <option th:each="boba : ${listBoba}"
                                            th:value="${boba.name}"
                                            th:text="${boba.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 d-flex align-items-end">
                                <button class="btn btn-primary w-100" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="manager, iterationStatus : ${listManager}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${manager.fullName}"></td>
                        <td th:text="${manager.gender}"></td>
                        <td th:text="${manager.dateOfBirth}"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>